body
	color white
	background-color rgb(32, 32, 32)

a
	:hover
		color yellow
	:active
		color pink

#content
	color black
	:hover
		color red
	> div
		color blue
	img
		border none
	[aria-class="button"]
		color green

a, p
	:hover
		color orange