// Main stylesheet

body
	color blue
	background-color rgb(32, 32, 32)

a
	color blue
	
	// Link hover
	:hover
		color blue
		div
			width 100%
			img
				height 100%
	
	// Link active
	:active
		color blue

#content
	color black
	:hover
		color red
	> div
		background white
		color blue
	img
		border none
	[aria-class="button"]
		color green

div, p
	:hover
		color blue
		background white
	span, address
		display none