// Main stylesheet

body
	color white
	background-color rgb(32, 32, 32)

a
	color blue
	
	// Link hover
	:hover
		color yellow
		div
			width 100%
			img
				height 100%
	
	// Link active
	:active
		color pink

#content
	color black
	:hover
		color red
	> div
		color blue
	img
		border none
	[aria-class="button"]
		color green

div, p
	:hover
		color orange
	span, address
		display none